@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.col-1 {
  width: 16.66667%;
}

.col-2 {
  width: 33.33333%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width: 66.66667%;
}

.col-5 {
  width: 83.33333%;
}

.col-6 {
  width: 100%;
}

.column {
  max-width: 1000px;
  margin: 0 auto;
}

.column .col {
  display: flex;
  justify-content: space-between;
  margin: 15px auto 30px;
}

.column .col li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 50px;
}

.column .col li:nth-child(2n-1) {
  background-color: red;
}

.column .col li:nth-child(2n) {
  background-color: blue;
}

.fontsize {
  font-size: 3.2rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .fontsize {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 767px) {
  .fontsize {
    font-size: 1.6rem;
  }
}

.random__box1 {
  top: 33px;
  left: 999px;
}

.random__box2 {
  top: 327px;
  left: 573px;
}

.random__box3 {
  top: 288px;
  left: 258px;
}

.random__box4 {
  top: 392px;
  left: 547px;
}

.random__box5 {
  top: 152px;
  left: 960px;
}

.random__box6 {
  top: 479px;
  left: 234px;
}

.random__box7 {
  top: 500px;
  left: 315px;
}

.random__box8 {
  top: 221px;
  left: 208px;
}

.random__box9 {
  top: 129px;
  left: 135px;
}

.random__box10 {
  top: 207px;
  left: 648px;
}

.random {
  position: relative;
  max-width: 1000px;
  max-height: 500px;
  margin: 0 auto;
  padding-top: 500px;
}

.random__box {
  position: absolute;
  width: 50px;
  height: 50px;
}

.random__box:nth-child(2n-1) {
  background-color: red;
}

.random__box:nth-child(2n) {
  background-color: blue;
}

* {
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 62.5%;
  position: relative;
}

@media screen and (max-width: 1087px) {
  html {
    font-size: 0.969932105vw;
  }
}

@media screen and (max-width: 959px) {
  html {
    font-size: 10px;
  }
}

body {
  font-size: 1.4rem;
  line-height: 1.8;
  font-family: "Noto Serif JP", YuMincho, "Yu Mincho","ヒラギノ明朝 ProN W6", "HiraMinProN-W6",-apple-system, blinkMacSystemFont, serif;
  color: #333;
}

a {
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.fCopy .wrap {
  width: 100%;
  font-family: "Noto Serif CJK JP", "Noto Serif JP", YuMincho, "Yu Mincho","ヒラギノ明朝 ProN W6", "HiraMinProN-W6",-apple-system, blinkMacSystemFont, serif;
}

.wrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.inner {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
  z-index: 999;
}

@media screen and (max-width: 1087px) {
  .inner {
    padding: 0 3.491755577%;
  }
}

img {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
}

.sp {
  display: none !important;
}

.tab {
  display: none !important;
}

.tabOnly {
  display: none !important;
}

@media screen and (max-width: 959px) {
  .tab, .tabOnly {
    display: block !important;
  }
  img.tab, img.tabOnly {
    display: inline !important;
  }
  .tabNone {
    display: none !important;
  }
}

@media screen and (max-width: 599px) {
  .sp, .tab {
    display: block !important;
  }
  img.sp, img.tab {
    display: inline !important;
  }
  .pc {
    display: none !important;
  }
  .tabNone {
    display: none !important;
  }
}

#header {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

#header .logo img {
  width: 90px;
}

#header .logo h1 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6rem;
}

#header .logo .sp_head {
  display: none;
}

@media screen and (max-width: 599px) {
  #header .logo {
    padding: 0.9rem 0 0.9rem 2rem;
  }
  #header .logo .pc_head {
    display: none;
  }
  #header .logo .sp_head {
    display: inline;
  }
}

#header .pNav {
  display: flex;
  align-items: center;
  height: 100%;
}

#header .pNav .textLink {
  margin-right: 2rem;
}

#header .pNav .textLink div a {
  font-size: 1.2rem;
  color: #111;
  padding-left: 10px;
}

#header .pNav .textLink div a::before {
  content: '';
  width: 10px;
  height: 1px;
  display: block;
  background: #111111;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

#header .pNav .textLink div a.hover {
  color: #333333;
}

#header .pNav .textLink div.map a {
  margin-bottom: 0.52rem;
}

@media screen and (max-width: 959px) {
  #header .pNav .textLink {
    margin-right: 2rem;
  }
  #header .pNav .textLink div a {
    font-size: 1rem;
  }
}

#header .pNav .cv {
  display: flex;
  height: 100%;
}

#header .pNav .cv div {
  height: 4rem;
  width: 16.5rem;
}

#header .pNav .cv div + div {
  margin-left: 1rem;
}

#header .pNav .cv div a {
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#header .pNav .cv div.req a {
  background: #555555;
}

#header .pNav .cv div.req a.hover {
  background: #333333;
}

#header .pNav .cv div.res a {
  background: #444444;
}

#header .pNav .cv div.res a.hover {
  background: #222222;
}

@media screen and (max-width: 959px) {
  #header .pNav .cv div {
    width: 10rem;
  }
  #header .pNav .cv div a {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 599px) {
  #header .pNav {
    display: none;
  }
}

#header .sp_menu_btn {
  display: none;
}

@media screen and (max-width: 599px) {
  #header .sp_menu_btn {
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
  }
  #header .sp_menu_btn > div a {
    display: block;
  }
  #header .sp_menu_btn > div span {
    display: block;
    position: relative;
  }
  #header .sp_menu_btn > div span:before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1px;
    display: block;
    background: #ddd;
  }
  #header .sp_menu_btn .sp_menu_btn_menu {
    position: relative;
    transition: 0.3s ease;
  }
  #header .sp_menu_btn .sp_menu_btn_menu > span {
    transition: 0.3s ease;
  }
  #header .sp_menu_btn .sp_menu_btn_menu > span.ov {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  #header .sp_menu_btn .sp_menu_btn_menu.active {
    background: #fff;
  }
  #header .sp_menu_btn .sp_menu_btn_menu.active > span.df {
    opacity: 0;
  }
  #header .sp_menu_btn .sp_menu_btn_menu.active > span.ov {
    opacity: 1;
  }
}

@media screen and (max-width: 599px) {
  #header {
    border-bottom: 1px solid #ddd;
    padding: 0;
    height: 60px;
  }
}

#gNav {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 999999;
  background: #f4f4f4;
}

#gNav ul {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

#gNav ul li {
  padding-left: 2rem;
  margin-left: 2rem;
  height: 2rem;
  border-left: 1px solid #ddd;
  display: flex;
  align-items: center;
}

#gNav ul li:first-child {
  border: none;
  padding: 0;
  margin: 0;
}

#gNav ul li a {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #111;
  transition: 0.3s ease;
}

#gNav ul li a::after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  background: #88775b;
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  transition: 0.3s ease;
  opacity: 0;
}

#gNav ul li a.hover, #gNav ul li a.on {
  color: #88775b;
}

#gNav ul li a.hover::after, #gNav ul li a.on::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  #gNav ul li a.hover::after, #gNav ul li a.on::after {
    opacity: 0;
  }
}

#gNav ul li.spMenu, #gNav ul li.close {
  display: none;
}

@media screen and (max-width: 1087px) {
  #gNav ul li {
    padding-left: 1rem;
    margin-left: 1rem;
  }
  #gNav ul li:first-child {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 959px) {
  #gNav ul {
    flex-wrap: wrap;
  }
  #gNav ul li {
    width: 25%;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 1.5rem;
    justify-content: center;
  }
  #gNav ul li a {
    font-size: 1.2rem;
  }
  #gNav ul li:nth-child(n + 5) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 599px) {
  #gNav {
    top: 60px;
    display: none;
    height: calc(100% - 60px);
    overflow-y: scroll;
    background: #f9f9f9;
  }
  #gNav ul {
    flex-wrap: wrap;
    padding: 0;
    background: #000;
    border-top: 1px solid #666666;
  }
  #gNav ul li {
    width: 100%;
    margin: 0;
    border-left: none;
    padding-left: 0;
    border-bottom: 1px solid #666666;
    display: block;
    height: auto;
  }
  #gNav ul li:first-child {
    border-bottom: 1px solid #666666;
  }
  #gNav ul li.spMenu {
    display: block;
  }
  #gNav ul li a {
    color: #fff;
    padding: 2rem;
    display: block;
  }
  #gNav ul li a span {
    position: relative;
  }
  #gNav ul li a span::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: #88775b;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    transition: 0.3s ease;
    opacity: 0;
  }
  #gNav ul li a.on span::after {
    opacity: 1;
  }
  #gNav ul li.map a {
    padding: 1rem 2rem;
  }
  #gNav ul li.req, #gNav ul li.res, #gNav ul li.close {
    width: 100%;
    text-align: center;
    border-right: none;
  }
  #gNav ul li.req a, #gNav ul li.res a, #gNav ul li.close a {
    font-size: 1.6rem;
  }
  #gNav ul li.req {
    background: #555;
  }
  #gNav ul li.res {
    background: #444;
  }
  #gNav ul li.close {
    display: block;
    background: #f9f9f9;
    padding: 1.25rem;
    border-bottom: none;
  }
}

#pankuzu {
  margin-top: 0.52rem;
  margin-bottom: 7.02rem;
}

#pankuzu ul li {
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 0.3rem;
}

#pankuzu ul li span {
  color: #88775b;
}

#pankuzu ul li a.hover {
  color: #88775b;
  text-decoration: underline;
}

.titleA {
  font-size: 3.6rem;
  text-align: center;
  background-size: contain;
  letter-spacing: 0.06em;
  line-height: 1.5;
  margin-top: -0.9rem;
  margin-bottom: 9.1rem;
}

@media screen and (max-width: 599px) {
  .titleA {
    font-size: 2.8rem;
    margin-bottom: 3.05rem;
  }
}

.titleB {
  font-size: 3rem;
  position: relative;
  letter-spacing: 0.15em;
  text-align: center;
  overflow: hidden;
  line-height: 1.5;
  margin-top: -0.75rem;
  margin-bottom: 3.45rem;
}

.titleB + p {
  text-align: center;
  line-height: 2;
  margin-top: -0.7rem;
  margin-bottom: -0.7rem;
}

.titleB span {
  display: inline-block;
  position: relative;
  z-index: 10;
  padding: 0 20px;
}

.titleB span::before {
  content: '';
  width: 512px;
  height: 1px;
  display: block;
  background: #111111;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.titleB span::after {
  content: '';
  width: 512px;
  height: 1px;
  display: block;
  background: #111111;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

@media screen and (max-width: 599px) {
  .titleB {
    font-size: 2.25rem;
    margin-top: -0.5625rem;
    margin-bottom: 3.1875rem;
  }
}

.titleC {
  font-size: 2.6rem;
  padding-left: 0;
  position: relative;
  letter-spacing: 0.1em;
  line-height: 1.5;
  margin-top: -0.65rem;
  margin-bottom: 2.35rem;
}

@media screen and (max-width: 599px) {
  .titleC {
    font-size: 1.95rem;
    margin-top: -0.4875rem;
    margin-bottom: 2.5125rem;
  }
}

.titleD {
  font-size: 2.2rem;
  line-height: 1.454545455;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #111;
  padding-bottom: 0.4rem;
  margin-top: -0.5rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 599px) {
  .titleD {
    font-size: 1.8rem;
    margin-top: -0.40909rem;
    margin-bottom: 2.5rem;
  }
}

.titleE {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-top: -0.45rem;
  margin-bottom: 2.05rem;
}

@media screen and (max-width: 599px) {
  .titleE {
    font-size: 1.6rem;
    margin-top: -0.64rem;
    margin-bottom: 1.86rem;
  }
}

.titleF {
  font-size: 1.6rem;
  line-height: 1.6875;
  letter-spacing: 0.1em;
  margin-top: -0.55rem;
  margin-bottom: 2.45rem;
}

@media screen and (max-width: 599px) {
  .titleF {
    font-size: 1.4rem;
    margin-top: -0.48125rem;
    margin-bottom: 2.05313rem;
  }
}

p {
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: 0.1em;
  margin-top: -0.7rem;
  margin-bottom: -0.7rem;
}

@media screen and (max-width: 599px) {
  p {
    font-size: 1.3rem;
    margin-top: -0.65rem;
    margin-bottom: -0.65rem;
  }
}

.smallTxt {
  font-size: 1.2rem;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: -0.6rem;
  margin-bottom: -0.6rem;
}

@media screen and (max-width: 599px) {
  .smallTxt {
    font-size: 1rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }
}

.clm {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -3.5rem;
}

.clm > div {
  margin-top: 3.5rem;
}

@media screen and (max-width: 959px) {
  .clm > div img {
    width: 100%;
  }
}

.clm.clm2 > div {
  width: 48.4375%;
}

@media screen and (max-width: 959px) {
  .clm.clm2 > div {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .clm.clm2 > div {
    width: 100%;
  }
}

.clm.clm2_1 > div.large {
  width: 65.625%;
}

.clm.clm2_1 > div.small {
  width: 31.25%;
}

@media screen and (max-width: 959px) {
  .clm.clm2_1 > div.large, .clm.clm2_1 > div.small {
    width: 100%;
  }
}

.clm.clm2_2 > div.large {
  width: 74.0625%;
}

.clm.clm2_2 > div.small {
  width: 22.1875%;
}

@media screen and (max-width: 599px) {
  .clm.clm2_2 > div.large, .clm.clm2_2 > div.small {
    width: 100%;
  }
}

.clm.clm2_3 > div.large {
  width: 56.756756757%;
}

.clm.clm2_3 > div.small {
  width: 39.527027027%;
}

@media screen and (max-width: 959px) {
  .clm.clm2_3 > div.large, .clm.clm2_3 > div.small {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .clm.clm2_3 > div.large, .clm.clm2_3 > div.small {
    width: 100%;
  }
}

.clm.clm3 > div {
  width: 31.25%;
}

@media screen and (max-width: 959px) {
  .clm.clm3 > div {
    width: 48.4375%;
  }
}

@media screen and (max-width: 599px) {
  .clm.clm3 {
    margin-top: -3.75%;
  }
  .clm.clm3 > div {
    margin-top: 3.75%;
    width: 48.125%;
  }
}

.clm.clm4 > div {
  width: 22.1875%;
}

@media screen and (max-width: 599px) {
  .clm.clm4 > div {
    width: 48.125%;
  }
}

.clm.clm4_1 > div.large {
  width: 48.125%;
}

.clm.clm4_1 > div.small {
  width: 22.1875%;
}

@media screen and (max-width: 599px) {
  .clm.clm4_1 > div.large {
    width: 100%;
  }
  .clm.clm4_1 > div.small {
    width: 48.125%;
  }
}

.low_mv {
  text-align: center;
  margin-bottom: 10rem;
}

.low_mv p {
  font-size: 3.4rem;
}

.low_mv p.sub {
  font-size: 2rem;
  line-height: 1;
}

.tabMenu {
  border-bottom: 1px solid #222222;
  margin-bottom: 6rem;
}

.tabMenu.bottom {
  border-bottom: none;
  border-top: 1px solid #222222;
  margin-top: 6rem;
  margin-bottom: auto;
}

.tabMenu .inner ul {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -0.760784%;
}

@media screen and (max-width: 599px) {
  .tabMenu .inner ul {
    margin-top: -1.741176%;
    padding-bottom: 1.741176%;
  }
}

.tabMenu .inner ul > li {
  width: 16.015625%;
  text-align: center;
  margin-top: 0.760784%;
}

@media screen and (max-width: 959px) {
  .tabMenu .inner ul > li {
    width: 32.826144%;
  }
}

@media screen and (max-width: 599px) {
  .tabMenu .inner ul > li {
    width: 49.129412%;
    margin-top: 1.741176%;
  }
}

.tabMenu .inner ul > li a {
  width: 100%;
  display: block;
  padding: 12px 0;
  background: #eeeeee;
  color: #111;
  position: relative;
  transition: 0.3s ease;
}

@media screen and (max-width: 599px) {
  .tabMenu .inner ul > li a {
    padding: 10px 0;
  }
}

.tabMenu .inner ul > li a::after {
  content: '';
  height: 1px;
  width: 84.375%;
  display: block;
  background: #777777;
  position: absolute;
  bottom: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: 0.3s ease;
  opacity: 0;
}

.tabMenu .inner ul > li a span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.285714286;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 599px) {
  .tabMenu .inner ul > li a span {
    font-size: 1.3rem;
  }
}

.tabMenu .inner ul > li a.hover, .tabMenu .inner ul > li a.active {
  background: #111;
  color: #fff;
}

.tabMenu .inner ul > li a.hover::after, .tabMenu .inner ul > li a.active::after {
  opacity: 1;
}

.tabMenu .inner ul > li.br a {
  padding: 7px 0 6px;
}

.ancher {
  margin-top: -0.972222223%;
  margin-bottom: 25px;
}

.ancher ul {
  letter-spacing: -0.4em;
  text-align: center;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ancher ul li {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 24.270833333%;
  margin-top: 0.972222223%;
}

.ancher ul li a {
  display: inline-block;
  position: relative;
}

.ancher ul li a img {
  vertical-align: top;
}

.ancher ul li a::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

.ancher ul li a.hover::after {
  opacity: 1;
}

.ancher ul li.on a::after {
  opacity: 1;
}

.ancher ul li.ancher01 a::after {
  background: url(../imgs/anchor_btn01_ov.png) no-repeat center center;
  background-size: 100% 100%;
}

.ancher ul li.ancher02 a::after {
  background: url(../imgs/anchor_btn02_ov.png) no-repeat center center;
  background-size: 100% 100%;
}

.ancher ul li.ancher03 a::after {
  background: url(../imgs/anchor_btn03_ov.png) no-repeat center center;
  background-size: 100% 100%;
}

.ancher ul li.ancher04 a::after {
  background: url(../imgs/anchor_btn04_ov.png) no-repeat center center;
  background-size: 100% 100%;
}

@media screen and (max-width: 959px) {
  .ancher ul li {
    width: 49.02777777%;
    margin-top: 0;
  }
  .ancher ul li:nth-child(n + 3) {
    margin-top: 3%;
  }
}

@media screen and (max-width: 599px) {
  .ancher ul li {
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
    width: 48%;
    position: relative;
    margin-top: 3.33333333%;
  }
  .ancher ul li + li {
    margin-left: 3.3333333%;
  }
  .ancher ul li + li:nth-child(2n+1) {
    margin-left: 0;
  }
  .ancher ul li:nth-child(even) {
    text-align: left;
  }
  .ancher ul li:nth-child(odd) {
    text-align: right;
  }
}

.acap {
  font-size: 10px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #fff;
  text-shadow: #000 1px 1px 10px, #000 -1px 1px 10px, #000 1px -1px 10px, #000 -1px -1px 10px;
}

.tabArea .tabBtnWrap {
  border-bottom: 1px solid #111;
  margin-bottom: 30px;
}

@media screen and (max-width: 959px) {
  .tabArea .tabBtnWrap {
    padding-left: calc(100vw * 20 / 959);
    padding-right: calc(100vw * 20 / 959);
    margin-bottom: 20px;
  }
}

.tabArea .tabBtnWrap > div {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 599px) {
  .tabArea .tabBtnWrap > div {
    padding-bottom: 1.741176%;
  }
}

.tabArea .tabBtnWrap > div .thumTab {
  width: 16.015625%;
  text-align: center;
}

.tabArea .tabBtnWrap > div .thumTab a {
  width: 100%;
  display: block;
  background: #eeeeee;
  color: #000;
  position: relative;
  transition: 0.3s ease;
  padding: 8px 0 7px;
  cursor: pointer;
}

.tabArea .tabBtnWrap > div .thumTab a::after {
  content: '';
  width: 90%;
  height: 1px;
  display: block;
  background: #777777;
  position: absolute;
  left: 50%;
  bottom: 3px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: 0.3s ease;
  opacity: 0;
}

.tabArea .tabBtnWrap > div .thumTab a.thumbnail-current, .tabArea .tabBtnWrap > div .thumTab a.hover {
  color: #fff;
  background: #111;
}

.tabArea .tabBtnWrap > div .thumTab a.thumbnail-current::after, .tabArea .tabBtnWrap > div .thumTab a.hover::after {
  opacity: 1;
}

@media screen and (max-width: 959px) {
  .tabArea .tabBtnWrap > div {
    margin-top: -1.232394366%;
  }
  .tabArea .tabBtnWrap > div .thumTab {
    width: 32.511737089%;
    margin-top: 1.232394366%;
  }
}

@media screen and (max-width: 599px) {
  .tabArea .tabBtnWrap > div {
    margin-top: -1.741176%;
  }
  .tabArea .tabBtnWrap > div .thumTab {
    width: 49.129412%;
    margin-top: 1.741176%;
  }
}

.tabArea .tabCont > div {
  border: 1px solid #ebebeb;
  background: #fff;
  padding: 3px;
}

.tabArea .tabCont > div .tabContInner {
  background: #f9f9f9;
}

.tabArea .tabCont > div .tabContInner .mapArea {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tabArea .tabCont > div .tabContInner .mapArea .mapImg {
  width: calc(100% - 297px);
}

.tabArea .tabCont > div .tabContInner .mapArea .mapName {
  width: 297px;
  padding: 26px 22px;
}

.tabArea .tabCont > div .tabContInner .mapArea .mapName h3 {
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: -0.45rem;
  margin-bottom: 1.15rem;
}

.tabArea .tabCont > div .tabContInner .mapArea .mapName h4 {
  font-size: 1.4rem;
  line-height: 2;
  color: #111111;
  border-bottom: 1px solid #88775b;
  margin-bottom: 10px;
  letter-spacing: 0.05em;
}

.tabArea .tabCont > div .tabContInner .mapArea .mapName h4 span {
  margin-left: -0.6em;
}

.tabArea .tabCont > div .tabContInner .mapArea .mapName p {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #111111;
  letter-spacing: 0.05em;
  position: relative;
  padding-left: 2.2rem;
}

.tabArea .tabCont > div .tabContInner .mapArea .mapName p span {
  display: block;
  font-size: 1.2rem;
  line-height: 1.666666667;
  margin-top: -0.1rem;
  margin-bottom: -0.4rem;
}

.tabArea .tabCont > div .tabContInner .mapArea .mapName p::before {
  content: '';
  width: 1.7rem;
  height: 1.7rem;
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
}

.tabArea .tabCont > div .tabContInner .mapArea .mapName p.num01::before {
  background: url(../imgs/icon1.png) no-repeat;
  background-size: cover;
}

.tabArea .tabCont > div .tabContInner .mapArea .mapName p.num02::before {
  background: url(../imgs/icon2.png) no-repeat;
  background-size: cover;
}

.tabArea .tabCont > div .tabContInner .mapArea .mapName p.num03::before {
  background: url(../imgs/icon3.png) no-repeat;
  background-size: cover;
}

.tabArea .tabCont > div .tabContInner .mapArea .mapName p + p {
  margin-top: 2rem;
}

.tabArea .tabCont > div .tabContInner .mapArea .mapName p + h4 {
  margin-top: 2.65rem;
}

@media screen and (max-width: 599px) {
  .tabArea .tabCont > div .tabContInner .mapArea .mapImg {
    width: 100%;
  }
  .tabArea .tabCont > div .tabContInner .mapArea .mapName {
    width: 100%;
    padding: 40px 16px;
  }
}

.lifeInfoArea .lifeInfoLine {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lifeInfoArea .lifeInfoLine + .lifeInfoLine {
  margin-top: 4rem;
}

@media screen and (max-width: 599px) {
  .lifeInfoArea .lifeInfoLine + .lifeInfoLine {
    margin-top: 3rem;
  }
}

.lifeInfoArea .lifeInfoLine > div {
  width: 48.4375%;
}

@media screen and (max-width: 959px) {
  .lifeInfoArea .lifeInfoLine > div {
    width: 100%;
  }
  .lifeInfoArea .lifeInfoLine > div + div {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 599px) {
  .lifeInfoArea .lifeInfoLine > div + div {
    margin-top: 3rem;
  }
}

.lifeInfoArea .lifeInfoLine > div .infoTtl {
  font-weight: normal;
  border-bottom: 1px solid #111;
  position: relative;
  margin-top: -0.1rem;
  margin-bottom: 1.8rem;
  padding-bottom: calc(1.2rem - (((1.8rem * 1.111111111) - 1.8rem) / 2));
}

.lifeInfoArea .lifeInfoLine > div .infoTtl .ja {
  font-size: 1.8rem;
  line-height: 1.111111111;
  letter-spacing: 0.1em;
}

.lifeInfoArea .lifeInfoLine > div .infoTtl .en {
  position: absolute;
  right: 0;
  top: 3px;
}

.lifeInfoArea .lifeInfoLine > div .infoTtl .en img {
  vertical-align: top;
}

.lifeInfoArea .lifeInfoLine > div .infoList .infoListBlock {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  background: url(../imgs/lifeinfo_dots.png) left bottom repeat-x;
  font-size: 1.2rem;
  line-height: 1.333333333;
}

.lifeInfoArea .lifeInfoLine > div .infoList .infoListBlock .infoListName .nobg {
  display: block;
  margin-bottom: 0.8rem;
}

.lifeInfoArea .lifeInfoLine > div .infoList .infoListBlock .infoListName .bg {
  background: #fff;
  display: inline-block;
  padding-right: 5px;
}

.lifeInfoArea .lifeInfoLine > div .infoList .infoListBlock .infoListDistance {
  background: #fff;
  padding-left: 5px;
}

.lifeInfoArea .lifeInfoLine > div .infoList .infoListBlock .infoListDistance .table {
  display: table;
  width: 13.1rem;
}

.lifeInfoArea .lifeInfoLine > div .infoList .infoListBlock .infoListDistance .table > div {
  display: table-cell;
}

.lifeInfoArea .lifeInfoLine > div .infoList .infoListBlock .infoListDistance .table > div.toho {
  width: 2.1em;
}

.lifeInfoArea .lifeInfoLine > div .infoList .infoListBlock .infoListDistance .table > div.num01 {
  width: 1.2em;
  text-align: right;
}

.lifeInfoArea .lifeInfoLine > div .infoList .infoListBlock .infoListDistance .table > div.yaku {
  width: 4.3em;
}

.lifeInfoArea .lifeInfoLine > div .infoList .infoListBlock .infoListDistance .table > div.num02 {
  width: 2.6em;
  text-align: right;
}

.lifeInfoArea .lifeInfoLine > div .infoList .infoListBlock .infoListDistance .table > div.meter {
  width: 1em;
}

.lifeInfoArea .lifeInfoLine > div .infoList .infoListBlock + .infoListBlock {
  margin-top: 1.8rem;
}

.slider-for {
  margin-bottom: 20px;
}

@media screen and (max-width: 599px) {
  .slider-for {
    margin-bottom: 5px;
  }
}

.slider-nav {
  /* padding: 0px 6.6% 0 8.8%; */
  display: flex;
  justify-content: space-between;
}

.slider-nav .thum {
  position: relative;
  outline: none;
  display: inline-block;
  width: 10.15625%;
  cursor: pointer;
}

.slider-nav .thum .ov {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  transition: 0.3s ease;
}

.slider-nav .thum.slick-current, .slider-nav .thum.hover {
  /* opacity: 0.7; */
}

.slider-nav .thum.thumbnail-current .ov,
.slider-nav .thum.hover .ov {
  opacity: 1;
}

@media screen and (max-width: 599px) {
  .slider-nav {
    text-align: center;
    justify-content: center;
  }
  .slider-nav .thum {
    width: 10px;
    height: 10px;
    background: #a5a5a5;
    border-radius: 50%;
    margin-right: 10px;
  }
  .slider-nav .thum.thumbnail-current {
    background: #000;
  }
  .slider-nav .thum img {
    display: none;
  }
}

.slick-prev,
.slick-next {
  top: 0;
  bottom: 0;
  width: 6.611570248%;
  height: 100%;
  -webkit-transform: none;
  transform: none;
  background-color: #ffad46;
  border-radius: 8px;
  z-index: 99;
}

.planBtnList .clm {
  margin-top: -2rem;
}

.planBtnList .clm > div {
  margin-top: 2rem;
}

.planBtnList .clm > div a {
  display: block;
  position: relative;
}

.planBtnList .clm > div a::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease;
  opacity: 0;
}

.planBtnList .clm > div a.hover::after {
  opacity: 1;
}

.planBtnList .clm > div.btnA a::after {
  background: url(../imgs/btn_pop_a_ov.png) no-repeat center;
  background-size: cover;
}

.planBtnList .clm > div.btnB a::after {
  background: url(../imgs/btn_pop_b_ov.png) no-repeat center;
  background-size: cover;
}

.frameCont {
  border: 1px solid #ebebeb;
  padding: 3px;
}

.frameContInner {
  background: #f9f9f9;
  padding: 3.2rem 3.125%;
}

.captionArea {
  margin-top: 9.6rem;
  margin-bottom: 5.6rem;
}

.captionArea .inner p {
  margin-bottom: auto;
  margin-top: auto;
  font-size: 1rem;
  line-height: 1.8;
  padding-left: 1em;
  text-indent: -1em;
}

.main {
  padding-top: 120px;
  margin-bottom: 10rem;
}

@media screen and (max-width: 959px) {
  .main {
    padding-top: 155px;
  }
}

@media screen and (max-width: 599px) {
  .main {
    padding-top: 60px;
  }
}

.btNextprev {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.btNextprev .next a, .btNextprev .prev a {
  display: flex;
  align-items: center;
  color: #111;
  font-size: 2.4rem;
  line-height: 0.8;
}

.btNextprev .next a > span, .btNextprev .prev a > span {
  display: block;
}

.btNextprev .next a > span span, .btNextprev .prev a > span span {
  color: #88775b;
  font-size: 1.4rem;
}

.btNextprev .prev a {
  margin-left: 2rem;
}

.btNextprev .prev a:before {
  content: "";
  display: block;
  background: url("../imgs/prev.png") left top no-repeat;
  background-size: contain;
  width: 2.4rem;
  height: 8.6rem;
  margin-right: 1rem;
}

.btNextprev .next a {
  margin-right: 2rem;
  text-align: right;
}

.btNextprev .next a:after {
  content: "";
  display: block;
  background: url("../imgs/next.png") left top no-repeat;
  background-size: contain;
  width: 2.4rem;
  height: 8.6rem;
  margin-left: 1rem;
}

#footer .cvArea {
  width: 100%;
  background: #ddd;
  padding: 60px 20px;
}

#footer .cvArea .inner {
  width: 100%;
  max-width: 1024px;
  padding-top: 2.8rem;
  padding-bottom: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
}

#footer .cvArea .inner .title {
  font-size: 3rem;
  margin-bottom: 1.8rem;
}

#footer .cvArea .inner .cv {
  display: flex;
  justify-content: center;
}

#footer .cvArea .inner .cv .req p, #footer .cvArea .inner .cv .res p {
  font-size: 1.6rem;
  margin-bottom: 1.36rem;
}

#footer .cvArea .inner .cv .req a, #footer .cvArea .inner .cv .res a {
  color: #fff;
  font-size: 2.2rem;
  width: 32rem;
  padding-top: 2.12rem;
  padding-bottom: 2.12rem;
  display: block;
}

#footer .cvArea .inner .cv .req {
  margin-right: 1.8rem;
}

#footer .cvArea .inner .cv .req a {
  background: #555;
}

#footer .cvArea .inner .cv .req a.hover {
  background: #333;
}

#footer .cvArea .inner .cv .res {
  margin-left: 1.8rem;
}

#footer .cvArea .inner .cv .res a {
  background: #444;
}

#footer .cvArea .inner .cv .res a.hover {
  background: #222;
}

@media screen and (max-width: 959px) {
  #footer .cvArea .inner .cv {
    flex-wrap: wrap;
  }
  #footer .cvArea .inner .cv .req, #footer .cvArea .inner .cv .res {
    width: 100%;
    max-width: 49.6rem;
    margin-left: 0;
    margin-right: 0;
  }
  #footer .cvArea .inner .cv .req p, #footer .cvArea .inner .cv .res p {
    display: none;
  }
  #footer .cvArea .inner .cv .req a, #footer .cvArea .inner .cv .res a {
    width: 100%;
  }
  #footer .cvArea .inner .cv .req {
    margin-bottom: 1.8rem;
  }
}

#footer .fNavArea {
  background: #ccc;
}

#footer .fNavArea .inner {
  width: 100%;
  max-width: 1024px;
}

#footer .fNavArea .inner .fNavList ul {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

#footer .fNavArea .inner .fNavList ul li {
  padding-left: 2rem;
  margin-left: 2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  border-left: 1px solid #aaa;
  display: flex;
  align-items: center;
}

#footer .fNavArea .inner .fNavList ul li:first-child {
  border: none;
  padding: 0;
  margin: 0;
}

#footer .fNavArea .inner .fNavList ul li a {
  font-size: 1.2rem;
  color: #111;
  transition: 0.3s ease;
}

#footer .fNavArea .inner .fNavList ul li a::after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  background: #88775b;
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: 0.3s ease;
  opacity: 0;
}

#footer .fNavArea .inner .fNavList ul li a.hover, #footer .fNavArea .inner .fNavList ul li a.on {
  color: #88775b;
}

#footer .fNavArea .inner .fNavList ul li a.hover::after, #footer .fNavArea .inner .fNavList ul li a.on::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  #footer .fNavArea .inner .fNavList ul li a.hover::after, #footer .fNavArea .inner .fNavList ul li a.on::after {
    opacity: 0;
  }
}

#footer .fNavArea .inner .fNavList ul li.spMenu {
  display: none;
}

#footer .fNavArea .inner .fNavText {
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 1087px) {
  #footer .fNavArea {
    padding-right: 3.491755577%;
    padding-left: 3.491755577%;
  }
  #footer .fNavArea .inner {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 959px) {
  #footer .fNavArea .inner .fNavList ul li {
    padding-left: 1rem;
    margin-left: 1rem;
  }
  #footer .fNavArea .inner .fNavList ul li:first-child {
    padding: 0;
    margin: 0;
  }
  #footer .fNavArea .inner .fNavList ul li a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 959px) {
  #footer .fNavArea {
    padding-left: 0;
    padding-right: 0;
  }
  #footer .fNavArea .inner .fNavList {
    margin-bottom: 2.5rem;
  }
  #footer .fNavArea .inner .fNavList ul {
    justify-content: center;
    flex-wrap: wrap;
  }
  #footer .fNavArea .inner .fNavList ul li {
    justify-content: center;
    width: 25%;
    margin-left: auto;
    padding-left: 0;
    border-left: none;
    height: auto;
  }
  #footer .fNavArea .inner .fNavList ul li:nth-child(n + 5) {
    margin-top: 1.5rem;
  }
  #footer .fNavArea .inner .fNavText {
    margin-left: 3.491755577%;
    margin-right: 3.491755577%;
    border-bottom: #626262 1px solid;
    padding-bottom: 1.2rem;
  }
}

@media screen and (max-width: 599px) {
  #footer .fNavArea {
    padding-left: 0;
    padding-right: 0;
  }
  #footer .fNavArea .inner .fNavList {
    margin-bottom: 2.5rem;
  }
  #footer .fNavArea .inner .fNavList ul {
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0;
  }
  #footer .fNavArea .inner .fNavList ul li {
    width: 50%;
    margin: 0;
    padding-left: 0;
    border-left: none;
    height: auto;
    border-bottom: 1px solid #aaa;
  }
  #footer .fNavArea .inner .fNavList ul li:first-child {
    border-bottom: 1px solid #aaa;
  }
  #footer .fNavArea .inner .fNavList ul li:nth-child(odd) {
    border-right: 1px solid #aaa;
  }
  #footer .fNavArea .inner .fNavList ul li:nth-child(n + 5) {
    margin-top: 0;
  }
  #footer .fNavArea .inner .fNavList ul li a {
    display: block;
    padding: 2rem;
    width: 100%;
    font-size: 1.2rem;
  }
  #footer .fNavArea .inner .fNavList ul li.map a {
    padding: 0.8rem 2rem;
    line-height: 1.5;
  }
  #footer .fNavArea .inner .fNavText {
    margin-left: 3.491755577%;
    margin-right: 3.491755577%;
    border-bottom: #626262 1px solid;
    padding-bottom: 1.2rem;
  }
}

#footer .fInfoArea {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: solid 1px #ddd;
}

#footer .fInfoArea .fInfo {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .fInfoArea .fInfo .logo {
  display: flex;
  align-items: center;
}

#footer .fInfoArea .fInfo .logo > p {
  font-size: 1rem;
  margin-right: .5rem;
}

#footer .fInfoArea .fInfo .text01 {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-left: 3rem;
}

#footer .fInfoArea .fInfo .tel {
  margin-left: 1.5rem;
}

#footer .fInfoArea .fInfo .tel a {
  display: inline-block;
}

#footer .fInfoArea .fInfo .text02 {
  font-size: 1rem;
  line-height: 1.8;
  margin-left: 1.5rem;
}

@media screen and (max-width: 1087px) {
  #footer .fInfoArea {
    padding-right: 3.491755577%;
    padding-left: 3.491755577%;
  }
}

@media screen and (max-width: 959px) {
  #footer .fInfoArea {
    padding-top: 0;
    padding-bottom: 2.5rem;
  }
  #footer .fInfoArea .fInfo {
    flex-direction: column;
  }
  #footer .fInfoArea .fInfo > div,
  #footer .fInfoArea .fInfo > p {
    display: block;
    width: 100%;
  }
  #footer .fInfoArea .fInfo > div.logo,
  #footer .fInfoArea .fInfo > p.logo {
    text-align: center;
  }
  #footer .fInfoArea .fInfo > div.logo p,
  #footer .fInfoArea .fInfo > p.logo p {
    display: none;
  }
  #footer .fInfoArea .fInfo > div.text01,
  #footer .fInfoArea .fInfo > p.text01 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1.05rem;
    margin-left: auto;
  }
  #footer .fInfoArea .fInfo > div.text01 br,
  #footer .fInfoArea .fInfo > p.text01 br {
    display: none;
  }
  #footer .fInfoArea .fInfo > div.tel,
  #footer .fInfoArea .fInfo > p.tel {
    margin: 0;
    width: auto;
  }
  #footer .fInfoArea .fInfo > div.text02,
  #footer .fInfoArea .fInfo > p.text02 {
    text-align: center;
    font-size: 1.2rem;
    margin-left: auto;
    margin-top: 0.7rem;
    margin-bottom: -0.3rem;
  }
  #footer .fInfoArea .fInfo > div.text02 br.pc,
  #footer .fInfoArea .fInfo > p.text02 br.pc {
    display: none;
  }
}

#footer .fLogo {
  width: 100%;
  max-width: 1024px;
  margin: 2.5rem auto 2rem auto;
}

#footer .fLogo ul {
  display: flex;
  justify-content: center;
}

#footer .fLogo ul li {
  width: 16.2rem;
}

#footer .fLogo ul li p {
  font-size: 1rem;
  margin-bottom: .5rem;
}

#footer .fLogo ul li + li {
  margin-left: 2rem;
}

@media screen and (max-width: 599px) {
  #footer .fLogo ul {
    flex-direction: column;
    align-items: center;
  }
  #footer .fLogo ul li {
    text-align: center;
  }
  #footer .fLogo ul li + li {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}

#footer .fNav {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: solid 1px #ddd;
}

#footer .fNav .inner ul {
  display: flex;
  justify-content: center;
}

#footer .fNav .inner ul li {
  font-size: 1rem;
  color: #111;
  padding-left: 3.5rem;
  margin-left: 3.5rem;
  border-left: solid 1px #999;
}

#footer .fNav .inner ul li:first-child {
  padding-left: 0;
  margin-left: 0;
  border: none;
}

#footer .fNav .inner ul li a {
  color: #111;
}

#footer .fNav .inner ul li a.hover {
  opacity: 0.5;
}

@media screen and (max-width: 599px) {
  #footer .fNav .inner {
    max-width: 250px;
  }
  #footer .fNav .inner ul {
    flex-wrap: wrap;
  }
  #footer .fNav .inner ul li {
    width: calc(50% - 1px);
    padding-left: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
  #footer .fNav .inner ul li:nth-child(n + 3) {
    margin-top: 1rem;
  }
  #footer .fNav .inner ul li:nth-child(odd) {
    border: none;
  }
}

#footer .fCopy .inner .copyright {
  font-size: 1rem;
  text-align: center;
  color: #999;
}

@media screen and (max-width: 599px) {
  #footer {
    margin-bottom: 61px;
    padding-bottom: 1.5rem;
  }
}

.sp_fNav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99990;
}

@media screen and (max-width: 599px) {
  .sp_fNav {
    display: block;
  }
}

.sp_fNav ul {
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.sp_fNav ul li {
  width: 25%;
  text-align: center;
  padding: 0.8rem 0;
}

.sp_fNav ul li + li {
  border-left: 1px solid #696969;
}

.sp_fNav ul li a {
  display: block;
}

.sp_fNav ul li span {
  display: block;
  font-size: 1.2rem;
  line-height: 1;
  color: #fff;
}

.sp_fNav ul li span + span {
  margin-top: 0.8rem;
}

.sp_fNav ul li.outline {
  background: #333;
}

.sp_fNav ul li.map {
  background: #444;
}

.sp_fNav ul li.req {
  background: #525252;
}

.sp_fNav ul li.res {
  background: #6c6c6c;
}

.pagetop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 51px;
  height: 51px;
  opacity: 0;
  z-index: 999;
}

@media screen and (max-width: 599px) {
  .pagetop {
    bottom: 71px;
    right: 10px;
    width: 41px;
    height: 41px;
  }
}
/*# sourceMappingURL=main.css.map */