//行間削除マージン
//$num＝実寸マージン（rem）
//$fz＝実寸フォントサイズ（rem）
//$lh＝line-heightの数値

//magine-top
@mixin mt ($num,$fz,$lh) {
  margin-top: ($num - ((($fz * $lh) - $fz) / 2));
}
//margin-bottom
@mixin mb ($num,$fz,$lh){
  margin-bottom: ($num - ((($fz * $lh) - $fz) / 2));
}

//padding-top
@mixin pt ($num,$fz,$lh) {
  padding-top: ($num - ((($fz * $lh) - $fz) / 2));
}
//padding-bottom
@mixin pb ($num,$fz,$lh){
  padding-bottom: ($num - ((($fz * $lh) - $fz) / 2));
}
